#AddHandler application/x-httpd-php .html
#RemoveHandler .html .htm
#AddType application/x-httpd-php4 .php .tpl .htm .html .phtml
#AddType application/x-httpd-php .php .tpl .htm .html .phtml
AddHandler application/x-httpd-php .php .htm .html .tpl

#AddType application/x-httpd-php .htm .html .phtml

DirectoryIndex index.htm index.html 

ErrorDocument 404 /404/

Options +Followsymlinks -Indexes

RewriteEngine On
RewriteRule ^index\.html$ / [R=301,L]
RewriteCond %{HTTP_HOST} ^www\.bibliogames\.ru
RewriteRule ^(.*)$ http://bibliogames.ru/$1 [R=permanent,L]

#Delete "content" folder from URL
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^content/(.+)$ http://bibliogames/$1 [R=301,L]
RewriteCond %{DOCUMENT_ROOT}/content/$1 -f
RewriteRule ^(.+)$ /content/$1 [L]

RewriteCond %{QUERY_STRING} ^(w=.*)$
RewriteRule ^(.*\.(JPG|jpg|JPEG|jpeg|GIF|gif|PNG|png))$ /tools/imagepreview/?%1&f=/$1 [L]
RewriteRule ^(.*[\.JPG|\.jpg|\.JPEG|\.jpeg|\.GIF|\.gif|\.PNG|\.png])/(w=.*)$ /tools/imagepreview/?$2&f=/$1 [L]


#RewriteCond %{QUERY_STRING} /$

#AddDefaultCharset Off
<IfModule mod_charset.c>
#        CharsetDisable On
#        CharsetRecodeMultipartForms Off
</IfModule>

RewriteCond %{THE_REQUEST} " (/[^?/]+)\.php"
RewriteRule ^ %1 [R=301,L]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)$ /$1.php [L]
