body {
    overflow-y: visible !important;
}
.modal-open {
    padding-right: 0 !important;
}
.container {
    max-width: 1140px;
}

.page {
    /* background-color: #f3f4f5; */
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 1.05rem;
    letter-spacing: .3px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: #17a2b8;
    text-decoration: none;
}

a:hover {
    color: #fe4035;
    text-decoration: none;
}

.bg-blue {
    background-color: #2da4d8;
}

.bg-dark {
    /* background-color: #343a40;
    background-color: #282828;
    background-color: #2b3034 !important; */
    background-color: #2da4d8 !important;
}

.bg2 {
    background-color: #cadce4;
}

.bg3 {
    /* background-color:#e6edf0;
    background-color: #d0dadf; */
    background-color: #d8e0e4;
}

.hr {
    border-top: 1px solid #aaaaaa;
}

.btn {
    color: #edeee9;
    padding: .175rem .25rem;
    padding-top: 4px;
}

.btn-search {
    color: #edeee9;
    padding: .175rem .25rem;
    padding-top: 0px;
}

.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(75, 75, 75, 0.25);
}

.btn-check:focus+.btn-warning, .btn-warning:focus {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
    box-shadow: 0 0 0 0.1rem rgba(222,170,12,.5);
}

.btn-check:active+.btn-warning:focus, .btn-check:checked+.btn-warning:focus, .btn-warning.active:focus, .btn-warning:active:focus, .show>.btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.1rem rgba(222,170,12,.5);
}

.btn-orange {
    background-color: #fc4c06;
}

.btn-litres {
    color: rgb(24, 24, 24);
    border: 1px solid rgb(151, 151, 151);
}

.btn-litres:hover {
    color: rgb(0, 0, 0);
    background-color: #ebebeb;
    border-color:  rgb(151, 151, 151);
}

.orange {
    color: #fc4c06;;
}

.header_dark {
    background-color:  rgb(56, 56, 56);
}

.header_brand {
    font-size: 0.9rem;
    /* font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Arial; */
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
    color: #b1b1b1;
    text-decoration: none;
    padding-left: 0px;
}

.header_brand:hover {
    color: #c9c9c9;
}

@media screen and (max-width: 500px) {
    .header_brand {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 320px) {
    .header_brand {
        font-size: 0.7rem;
    }
}

.navbar {
    background-color: #2da4d8;
    padding: 2.125rem 1.5rem 2.125rem 2rem;
}

.navbar_search {
    min-height: calc(1em + .5rem + 2px);
    height: calc(1.2em + 0.15rem + 2px);
    background-color: #edeee9;
    font-size: 13px;
}

.nav-link {
    font-size: 1rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    letter-spacing: .3px;
    color: floralwhite;
    padding-top: 11px;
}

.navbar_search-button {
    font-size: 11px;
}

.content {
    margin: 20px 0px 20px 0px;
    text-align: justify;
}

.content_small {
    min-height: 30vw;
}

.card {
    border-radius: 0px;
    border: none;
}

.footer {
    position: relative;
    width: 100%;
    margin: 0px auto;
    padding: 0px 0px;
    color: #edeee9;
    bottom: 0px;
    overflow: visible;
}

.footer a {
    color: #edeee9;
}

.footer a:hover {
    color: #b1b1b1;
}

.list-group {
    text-align: left;
    color: #495157;
}

li {
    margin-bottom: 3px;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: #858585 !important;
    box-shadow: none !important;
    outline: 0 none;
    background-color: #f3f4f5;
}

.form-check-input:focus {
    background-color: #0d6efd !important;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: rgb(186, 188, 185, 0.6);
    display: inline-block;
    position: absolute;
    left: 17px;
    width: 1px;
    height: 76%;
    z-index: 400;
    margin-top: 8px;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline > li:before {
    content: ' ';
    background: #edeee9;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid rgb(55, 84, 101, 0.8);
    left: 10px;
    width: 15px;
    height: 15px;
    z-index: 400;
    margin-top: 5px;
}

.breadcrumb {
    padding-left: 0;
    background-color: #f3f4f5;
    text-align: left;
}

.logo img {
    -webkit-transform: opacity(0);
	transform: opacity(0);
}

.logo img:hover {
    -webkit-transform: opacity(85%);
	transform: opacity(85%);
}

.logo img {
	-webkit-transition: .01s ease-in-out;
	transition: .01s ease-in-out;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .01s ease-in-out;
	transition: .01s ease-in-out;
}

.logo:hover img {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.fa-vk:hover {
    color: #fe4035;
}

.btn-vk:hover {
    color: #fe4035;
}

.fa-facebook:hover {
    color: #fe4035;
}

.btn-twitter:hover {
    color: #fe4035;
}

.fa-youtube:hover {
    color: #fe4035;
}

.fa-long-arrow-alt-right {
    font-size: 13px;
}

.fa-external-link-alt {
	color: #5a5a5a;
	font-size: 11px;
	padding-left: 8px;
}

.fa-resources {
    color: #17a2b8;
}

a:hover .fa-resources {
    color: #fe4035;
}

.btn-youtube:hover {
    color: #fe4035;
}

.btn-social-icon:focus {
    border: 1px solid #375465;
    color: #375465;
}

.btn-social_footer {
    font-size: 1.35rem;
}

.social_footer {
    text-align: right;
}

.contacts_footer {
    text-align: center;
}

@media screen and (max-width: 540px) {
    .social_footer {
        text-align: left;
    }
    .contacts_footer {
        text-align: left;
    }
}


.btnUp {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 30px;
    z-index: 99;
    height: 42px;
    font-size: 16px;
    border: 1px solid rgb(243, 244, 245, 0.5);
    outline: none;
    background-color: rgb(42, 63, 76, 0.5);
    color: white;
    cursor: pointer;
    padding: 14px;
    padding-top: 8px;
    border-radius: 100%;
}
  
.btnUp:hover {
    background-color: rgb(254, 64, 53, 0.9);
}

.btnUp:focus {
    border: 1px solid rgb(243, 244, 245, 0.5);
    outline: none;
}

.lightbox-gallery-img img {
    height: 160px;
    object-fit: cover;
    cursor: pointer;
}

.lightbox-gallery {
    background-color: #343a40;
}

.lightbox-gallery_header {
    border-bottom: none;
}

.lightbox-gallery_footer {
    border-top: none;
}

.lightbox-gallery_close {
    color: #edeee9;
}

.lightbox-gallery_close:hover {
    color: gray;
}

.lightbox-gallery_close:focus {
    outline: none;
}

.lightbox-card:hover {
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
}

.table-striped {
    color: #424242;
}

.table {
    --bs-table-striped-color: #424242;
}

.modal-content {
    /* background-color: #f3f4f5; */
}

.form-control {
    background-color:#f3f4f5;
    border-radius: 2px;
    border: none;
    border-bottom: 1px solid rgba(156, 156, 156, 0.8);
}

.form-file-text {
    background-color: #f3f4f5;;
}

.btn-blue {
    color: #343a40;
}

.carousel-style {
    padding: 12px;
    border: 2px solid #edeee9;
    border-radius: 2px;
    /* margin-top: 15px; */
}

.carousel-item {
    cursor: pointer;
    transition: transform 0.2s ease-in-out !important; 
}

.carousel-item img {
    object-fit: cover;
}

.carousel-caption {
    left: 62%;
    /* width: 40%; */
    top: 3rem;
    padding-top: 0%;
    padding-right: 3rem;
    padding-left: 1rem;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-control-next, .carousel-control-prev {
    width: 2%;
}

.carousel-indicators {
    bottom: -60px;
}

.carousel-item_caption {
    color: floralwhite;
    text-align: center;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.h4 {
    color: #3d3d3d;
    text-align: left;
}

.h4-blue {
    color: #375465;
    text-align: left;
}

.h5 {
    color: #3d3d3d;
    text-align: left;
}

.h6 {
    color: #3d3d3d;
    text-align: left;
    font-size: 1.2rem ;
}

.hr2 {
    margin-top: 2px;
}

/* .ss2 {
    text-align:center;color:white;
} */

.book-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: .25rem;
    background-color: #ebebeb;
    background-color: #f3f4f5;
    background-color: #e6edf0;;
    background-color: #ecedf0;
    /* background-color: #e6edf0; */
    padding: 1rem;
    padding-bottom: 0px;
    text-align: center;
    /* display: block; */
    /* position: relative; */
    cursor: pointer;
}

.book-img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 2px;
    -webkit-filter: grayscale(30%);
	filter: grayscale(30%);
}

.book-card:hover .book-img {
    -webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

.book-card:hover {
    margin-bottom: -1px;
    border-bottom: 1px solid rgb(191, 193, 194);
}

/* .modal-content {
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.modal {
    background-color: rgba(36, 36, 36, 0.7);
    width: 800px;
    left: 30%;
    height: 700px;
}

.modal-close {
    font-size: 2.5rem;
    padding: 3rem;
    right: 0;
    top: 0;
    position: fixed;
    line-height: 0;
    cursor: pointer;
    color: #fff;
} */

.books_nav-link {
    padding-left: .5rem 1rem;
}

.books_nav-link {
    font-size: 1rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #494949;
    padding-top: 11px;
    margin-bottom: -1px;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.books_nav-link.active {
    color: #3d3d3d;
    font-weight: 400;
    background-color: #e6edf0;
    background-color: #e7e8eb;
    /* background-color: #d0dadf; */
}

.modal-content {
   height: 700px;
}

.modal-content-auto {
    height: auto;
}

.modal_book-img {
    /* width: auto;
    height: 20rem; */
    width: 100%;
    height: auto;
}

/* .modal_book-author {
    font-size: 1.1rem;
    line-height: 1.5;
} */

.modal_book-caption {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: left;
}

/* .modal_book-year {
    font-size: 1.1rem;
    line-height: 1.5;
} */

.modal_book-info {
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: left;
}

.lightbox-gallery {
    background-color: #f3f4f5;
}

.lightbox-gallery-dark {
    background-color: #343a40;
}

button.close {
    position: absolute;
    z-index: 100;
    right: 15px;
}

.lightbox-gallery_close {
    color: #b4b4b4;
}

.lightbox-gallery_close:hover {
    color: gray;
}

.accordion-button {
    text-align: left;
}

.accordion-flush .accordion-item:first-of-type .accordion-button-single {
    border-bottom-width: 1px !important;
}

.accordion-button:not(.collapsed) {
    color: #375465;
    background-color: #f3f4f5;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #d0dadf;
    border-radius: 2px;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(186, 201, 223, 0.25);
}

.carousel-item {
    /* padding: 50px; */
}

.books-carousel-control-next-icon, .books-carousel-control-prev-icon {
    display: inline-block;
    min-width: 1rem;
    min-height: 1rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}

.carousel-control-next, .carousel-control-prev {
    padding: 5px;
    opacity: 30%;
}

.books-carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23343a40' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.books-carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23343a40' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.link-close {
    font-weight: 200 !important;
    font-family: Roboto, Arial, Helvetica, Verdana, Tahoma, sans-serif;
    cursor: pointer !important;
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}

.animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.cl-white {
    color: #fff;
}

.text-lg {
    font-size: 1.1rem;
}

.book-author {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding: 5px;
    color: #767579;
    font-size: 0.8rem;
}

.book-author:hover {
    color: #fe4035;
}

.book-caption  {
    font-family: 'Merriweather', Arial, Helvetica, sans-serif;
    color: #57565a;
    font-size: 0.8rem;
}

.book-caption:hover {
    color: #fe4035;
}

@media screen and (max-width: 768px) {
    .logo img {
        width: 40px;
    }
    .book-img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 2px;
        -webkit-filter: grayscale(30%);
        filter: grayscale(30%);
    }
    .book-author {
        font-size: 0.6rem;
    }
    .book-caption  {
        font-size: 0.6rem;
    }
    .modal-content {
        height: 100%;
    }
    .modal_book-info {
        font-size: 1rem;
    }
    .book_description {
        font-size: 0.9rem;
        letter-spacing: .0px;
    }
    .modal_book-caption {
        padding-top: 10px;
        font-size: 1.2rem;
        text-align: left;
    }    
}

.link-secondary:focus, .link-secondary:hover {
    color: #b1b1b1;
}

.banner {
    width: 100%;
    height: 230px;
    opacity: 0.92;
    border-radius: 2px;
    position: relative;
}

.banner img {
    position: absolute;
    opacity: 0.92;
    border-radius: 2px;
    height: 230px;
    width: 100%;
    object-fit: cover;
}

.banner-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    border-radius: 2px;
    position: relative;
}

.banner-caption {
    color:white;
    position: relative;
    top: 40%;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.3;
}

@media screen and (max-width: 500px) {
    .banner {
        width: 100%;
        height: 15rem;
        opacity: 0.92;
        border-radius: 2px;
        position: relative;
    }
    .banner img {
        position: absolute;
        opacity: 0.92;
        border-radius: 2px;
        height: 15rem;
        width: 100%;
        object-fit: cover;
    }
    .banner-overlay {
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.4);
        border-radius: 2px;
        position: relative;
    }
    .banner-caption {
        color:white;
        position: relative;
        top: 35%;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.2;
    }
}

.gsc-control-cse {
    border-color: #375465 !important;
    background-color: #375465 !important;
    padding: 0px !important;
    border: none !important;
}

.gsc-input-box {
    padding-top: 0px !important;
    padding-bottom: 2px !important;
    border: none !important;
    border-radius: 3px !important;
    background: #f3f4f5 !important;
    width: 11rem !important;
    height: 23px !important;
    margin-left: auto !important;
}

table.gsc-search-box td.gsc-input {
    padding-right: 5px !important;
}

.gsc-input {
    font-size: 13px !important;
}

input.gsc-input {
    padding: 0px 5px !important;
    border: 0px solid #f3f4f5 !important;
    width: 100% !important;
    background-color: #f3f4f5 !important;
    margin-bottom: 6px !important;
}

input.gsc-input:focus {
    border-color: #f3f4f5 !important;
    box-shadow: none !important;
    outline: 0 none;
    background-color: #f3f4f5 !important;
    margin-bottom: 6px !important;
}

.gsib_a {
    padding: 3px 9px 4px 9px !important;
}

.gscb_a {
    line-height: 20px !important;
}

.gsst_b {
    margin-bottom: 2px !important;
}

.gsc-search-button-v2 {
    font-size: 0;
    padding: 4px 10px !important;
    border-radius: 3px !important;
    width: auto;
    vertical-align: middle;
    border: 1px solid #2a3f4c;
    border-radius: 2px;
    border-color: #3079ed;
    background-color: #4d90fe;
    background-image: linear-gradient(top, #4d90fe, #4787ed);
}

.gsc-search-button-v2:hover {
    background-color: #fe4035 !important;
    background-color: #2a3f4c !important;
}

.gsc-search-button-v2:focus {
    z-index: 3;
    border-color: #2a3f4c;
    border-radius: 2px;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(55, 84, 101);
}

/* sup.reference:target, ol.references li:target, .highlight-target:target, cite:target, span.citation:target {
    background: #ecedf0;
} */

ol.references li:target, sup.reference:target {
    background: #ecedf0;
}

/* #poem:target{
    background: #eaf3ff;
} */

.poems-text {
    white-space: pre;
    text-align: left;
    /* display: inline-block; */
    display: block;
    overflow: auto;
    font-family: monospace;
    font-size: 1.15rem;
    /* font-size: 16px; */
}

@media screen and (max-width: 500px) {
    .poems-text {
        white-space: pre-line;
        font-size: 16px;
        padding-left: 1rem;
    }
}

.poems-blockquote {
    /* padding: 10px; */
    background: #ecedf0;
    margin: 0px 0px 10px;
    width: 100%;
    border-left: 5px solid#d3d4d6;
}

.modal-header .close {
    padding: 0.1rem 0.5rem;
    margin: -1rem -1rem -1rem auto;
}

.content_map {
    padding: 0px;
    border-radius: 0.2em;
    height: 20vw;
    min-height: 35vh;
}

::selection {
    color: #f3f4f5;
    background-color: #5a8ba8;
}

.ol_list-style {
    list-style-type: disc !important;
}

.video_frame {
    height: 700px;
}

@media screen and (max-width: 1024px) {
    .video_frame {
        height: 50vw;
    }
    .modal-dialog {
        max-width: 800px;
    }
}

@media screen and (max-height: 500px) {
    .video_frame {
        height: 35vw;
    }
    .modal-dialog {
        max-width: 600px;
    }
}

.games-logo {
    width: 15rem;
}

@media screen and (max-width: 992px) {
    .games-logo-centered {
        text-align: center !important;
    }
}

.text-white {
    color: #fff;
}

.games-header {
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.header-frame {
    height: 12rem;
    margin-top: -1px;
    width: 100%;
}

.waves-frame {
    height: 8rem;
    margin-top: -1px;
    width: 100%;
}

.footer-frame {
    height: 12rem;
    width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f7f5f5;
    opacity: 0.8;
    text-decoration: none;
    transition: all 0.2s ease;
    font: 700 0.875rem/0.875rem "Open Sans", sans-serif;
}

.games-h1 {
    font: 700 2.3rem/3.125rem "Open Sans", sans-serif;
    letter-spacing: -0.2px;
}

.img-izd {
    width: 11rem;
}

/* .games-a {
    color: #1e1e1e;
} */

.bg4 {
    background-color: #fafafa;
}

.bg5 {
    background-color: #f6fcff;
}

.btn-red {
    background-color: #ff2030;
    border-color: #ff2030;
    width: 9rem;
}

.btn-red:hover {
    background-color: #fff;
    color: #212529;
}

.btn-orange {
    background-color: #ff9509;
    border-color: #ff9509;
    width: 9rem;
}

.btn-orange:hover {
    background-color: #fff;
    color: #212529;
}

.btn-yellow {
    background-color: #ffc300;
    border-color: #ffc300;
    width: 9rem;
}

.btn-yellow:hover {
    background-color: #fff;
    color: #212529;
}

.btn-green {
    background-color: #66d321;
    border-color: #66d321;
    width: 9rem;
}

.btn-green:hover {
    background-color: #fff;
    color: #212529;
}

.btn-red-hollow {
    border-color: #ff2030;
    color: #212529;
    width: 9rem;
}

.btn-red-hollow:hover {
    color: #fff;
    background-color: #ff2030;
}

.btn-orange-hollow  {
    border-color: #ff9509;
    color: #212529;
    width: 9rem;
}

.btn-orange-hollow:hover {
    color: #fff;
    background-color: #ff9509;
}

.btn-yellow-hollow  {
    border-color: #ffc300;
    color: #212529;
    width: 9rem;
}

.btn-yellow-hollow:hover{
    color: #fff;
    background-color: #ffc300;
}

.btn-green-hollow  {
    border-color: #66d321;
    color: #212529;
    width: 9rem;
}

.btn-green-hollow:hover {
    color: #fff;
    background-color: #66d321;
}


.p-small {
	font: 400 0.875rem/1.5rem "Open Sans", sans-serif;
}

.copyright .p-small {
	padding-top: 1.375rem;
	border-top: 1px solid #fffaf0;
	color: #f3f7fd;
}

.footer .footer-col {
	margin-bottom: 2.25rem;
}

.footer h4 {
	margin-bottom: 0.625rem;
	color: #fff;
}

.footer .list-unstyled,
.footer p {
	color: #fff;
}

.footer .footer-col.middle .list-unstyled .fas {
	color: #fff;
	font-size: 0.5rem;
	line-height: 1.5rem;
}

.footer .footer-col.middle .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.footer .footer-col.last .list-unstyled .fas {
	color: #fff;
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.footer .footer-col.last .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.footer .footer-col.last .list-unstyled .fas.fa-globe {
	margin-left: 1rem;
	margin-right: 0.625rem;
}

.icon-container {
	text-align: left;
    font-size: 1rem;
}

.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.fa-stack .fa-stack-1x {
    color: #fff;
    transition: all 0.2s ease;
}

.fa-stack .fa-stack-2x {
    color: #2da4d8;
    transition: all 0.2s ease;
}

.fa-stack .fa-stack-1x {
    color: #fff;
    transition: all 0.2s ease;
}

.fa-stack:hover .fa-stack-1x {
    color: #2da4d8;
    transition: all 0.2s ease;
}

.fa-stack:hover .fa-stack-2x {
    color: #fff;
}

.fa-stack {
    margin-bottom: 0.75rem;
    margin-right: -0.675rem;
    font-size: 1.42rem;
}