.card-img-overlay {
    border-radius: 2px;
    background: linear-gradient(0deg,transparent,rgb(52, 58, 64, 0.35)); 
}

.card-text {
    color:#edeee9;
    line-height: 1;
    font-size: 1rem;
    font-style: italic;
    height: 11.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body {
    border-bottom-left-radius: calc(.25rem - 1px);
    border-bottom-right-radius: calc(.25rem - 1px);
    padding: 0px;
}

.card-title {
    color: #f5f3f3;
    padding-left: 10px;
    padding-top: 7px;
    font-style: italic;
    text-shadow: 0 0 4px rgba(0,0,0, 0.8);
    font-size: 0.98rem;
}

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
    min-height: 100%;
    max-height: 14rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-radius: 2px;
}


@media screen and (max-width: 500px) {
    .card-text {
        height: 29vw;
    }
    .card-img-top {
        height: 38vw;
    }
}


.card > div {
    opacity: 0;
    background-color: rgb(52, 58, 64, 0.45);
    transition: all 0.1s ease-in-out;
    color: #fff;
    transform: translate(0px, 0px) rotate(0deg);
   }

.card:hover div {
    opacity: 1;
    transform: translate(0px, 0px) rotate(0deg);
}

.card > .card-title {
    opacity: 1;
}

.card:hover .card-title {
    opacity: 0;
}

.content_map {
    padding: 5px;
    border-radius: 0.5em;
    height: 36vw;
    min-height: 55vh;
}

.list-group-item {
    font-size: 1.1rem;
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #f3f4f5;
    border-width: 0 0 1px !important;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}

.a:hover {
    /* color: #912310; */
}

.lightbox-gallery-img img {
    height: 160px;
    object-fit: cover;
    cursor: pointer;
}

.lightbox-gallery {
    background-color: #343a40;
}

.lightbox-gallery_header {
    border-bottom: none;
}

.lightbox-gallery_footer {
    border-top: none;
}

.lightbox-gallery_close {
    /* color: #edeee9; */
    color: #c3c3c3;
}

.lightbox-gallery_close:hover {
    color: gray;
}

.lightbox-gallery_close:focus {
    outline: none;
}

.lightbox-card:hover {
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
}

.modal-content {
    height: auto;
 }

.carousel-item img {
    height: 720px;
 }

@media screen and (max-width: 768px) {
    .carousel-item img {
        height: auto;
    }
}

@media screen and (max-width: 900px) {
    .carousel-item img {
        width: 100%;
        height: auto;
    }
}

.modal-header .close {
    padding: 0.1rem 0.5rem;
    margin: -1rem -1rem -1rem auto;
}

.carousel-control-next, .carousel-control-prev {
    padding: 0px;
    opacity: 95%;
    /* background-color: #343a40; */
}